In [1]:
import os

In [2]:
%pwd

'd:\\project\\Face-to-BMI-Prediction\\research'

In [3]:
os.chdir("../")

In [4]:
%pwd

'd:\\project\\Face-to-BMI-Prediction'

In [5]:
import pandas as pd

In [6]:
dataset = pd.read_csv(os.path.join('artifacts/data_ingestion', "Final_Dataset.csv"))

In [7]:
dataset.head(5)

           id   sex  age        BMI
0  M10909.png  Male   33  24.679446
1  M16885.png  Male   38  21.614441
2  B83719.png  Male   35  22.494637
3  R06086.png  Male   36  31.561353
4  M10350.png  Male   34  21.696216

In [8]:
dataset=dataset.sample(10000,random_state=2)

In [9]:
dataset.to_csv('artifacts/data_ingestion/Final_Dataset.csv',index=False)